@font-face {
  font-family: "Futura";
  src: url("../fonts/futura_medium_bt-webfont.woff");
}

@font-face {
  font-family: "Futura-book-italic";
  src: url("../fonts/futura_book_italic_font-webfont.woff");
}

@font-face {
  font-family: "Futura-extra-black";
  src: url("../fonts/futura_extra_black_font-webfont.woff");
}

@font-face {
  font-family: "Futura-medium-bt";
  src: url("../fonts/futura_medium_bt-webfont.woff");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Futura";
}

/* FONT-FAMILY */
.futura-extra {
  font-family: Futura-extra-black;
}

.futura-medium-bt {
  font-family: Futura-medium-bt;
  font-weight: bold;
}
/* END FONT-FAMILY */

/* button */
.btn-yellow {
  background: #ffff00;
  border-radius: 10px;
}
/* end button */

/* BG-C OLOR*/
.bg-yellow {
  background: #ffff00;
}
/* BG-COLOR*/

/* FONTS-SIZE*/
.title {
  font-size: 50px;
}

.subtitle {
  font-size: 40px;
}

.text-70 {
  font-size: 70px;
}

.text-50 {
  font-size: 50px;
}
/* END FONS-SIZE */

/* FONTS-COLOR */
.fonts-yellow {
  color: #ffff00;
}

.fonts-white {
  color: #fff;
}
/* END FONTS-COLOR */

/* SECTION ONE */

.section-one {
  width: 100%;
  height: 700px;
  background: linear-gradient(211.92deg, #ffffae 0%, #ffff00 100%);
  background-size: cover;
}

.container-one {
  padding-top: 10px;
}

.bg-one {
  margin-top: 50px;
}

.view-one {
  position: relative;
}

.img-bg {
  position: absolute;
  top: 15px;
  right: 50px;
}

.img-iphone {
  width: 100%;
  position: absolute;
  left: 0;
  top: -50px;
}

.btn-one {
  margin-top: 30px;
  width: 300px;
  border: 3px solid #000;
}
.icon-one {
  width: 129px;
  height: 129px;
  background-image: url(../images/Icon.png);
}
/* END SECTION-ONE */

/* SECTION-TWO */
.section-two {
  width: 100%;
  margin-top: 150px;
}

.img-square {
  width: 129px;
  height: 129px;
  background-image: url(../images/Icon.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* END SECTION-TWO */

/* SECTION THREE */
.section-three {
  width: 100%;
}

.nav-three {
  border-bottom: 2px solid #e5e5e5;
}

.nav-three .nav-item {
  border-bottom: 2px solid transparent;
}

.nav-three .nav-item a {
  color: #808080;
}

.nav-three .nav-item:hover {
  border-bottom: 2px solid #ffff00;
  color: #000;
}

.features {
  margin-top: 80px;
}
.section-three .container .row .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: auto;
}

.section-three .container .row .circle:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #ffff00;
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  border: none;
  box-shadow: 0 10px 10px -5px;
}

.text-center {
  margin-top: 20px;
}

/* END SECTION THREE */

/* SECTION FOUR */
.section-four {
  width: 100%;
  max-width: 100%;
  height: 900px;
  background: linear-gradient(211.92deg, #ffffae 0%, #ffff00 100%);
  background-size: cover;
  margin-top: 300px;
}

.container-four {
  position: relative;
}

.img-r {
  width: 100%;
  align-items: center;
  position: absolute;
  top: -160px;
}
/* END SECTION FOUR */

/* SECTION-FIVE */
.section-five {
  width: 100%;
  max-width: 100%;
}

.container-five {
  position: relative;
}

.row-five {
  align-items: center;
  position: absolute;
  top: -170px;
}

.card-five-span {
  font-size: 45px;
}
/* END SECTION-FIVE */

/* SECTION SIX */
.section-six {
  width: 100%;
  height: 900px;
  background-image: url(../images/Action-ori.jpg);
  background-size: cover;
  margin-top: 700px;
}

.bg-six {
  width: 100%;
  height: 900px;
  background: linear-gradient(
    208.63deg,
    rgba(255, 255, 0, 0.35) 0%,
    #000000 100%
  );
  box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.btn-six {
  padding: 10px 60px;
  border-radius: 10px;
  margin-bottom: 60px;
  font-weight: bold;
}
/* END SECTION SIX */
footer {
  padding: 20px;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-footer {
  padding: 15px 60px;
  border-radius: 10px;
  font-weight: bold;
}

/*MEDIAS QUERY */

@media (max-width: 425px) {
  .section-one {
    height: 900px;
  }
  .container-one {
    display: block;
  }
  .text-70 {
    font-size: 40px;
  }
  .btn-media {
    text-align: center;
  }
  .view-one {
    margin-top: 50px;
  }

  .img-iphone {
    width: 100%;
    position: absolute;
    top: -50px;
  }

  .img-dashboard {
    width: 300px;
    height: auto;
  }
  .title {
    font-size: 30px;
  }
  .section-two {
    margin-top: 130px;
  }

  .section-four {
    height: 700px;
    margin-top: 150px;
  }
  .card-four {
    position: absolute;
    top: 550px;
  }
 
  .img-iphone-left {
    width: 90%;
    position: absolute;
    left: 0;
    top: 45px;
  }

  .img-four{
    display: none;
  }

  .section-five {
    height: 350px;
  }

  .card-five {
    position: absolute;
    top: 500px;
  }

  .img-iphone-right {
    width: 90%;
    position: absolute;
    left: 0;
    top: 40px;
  }

  .section-six {
    margin-top: 550px;
    height: 700px;
  }
  .bg-six {
    height: 700px;
  }

  .footer {
    font-size: 16px;
    display: block;
  }

  .row-footer {
    text-align: center;
  }

  .footer h1 {
    font-size: 20px;
  }

  .footer button {
    padding: 8px 10px;
  }
}

@media (max-width: 768px) {
  .title{
    font-size: 40px;
  }
  .text-70{
    font-size: 50px;
  }

  .card-five-span{
    font-size: 35px;
  }

  .section-two{
    margin-top: 130px;
  }
  

  /* .section-four{
    height: 500px;
    margin-top: 100px;
  }
  
  .img-r{
    position: initial;
  }

  .section-five{
    margin-top: 50px;
  }

  .section-six{
    margin-top: 100px;
  } */

  .footer h1 {
    font-size: 30px;
  }

  .footer button {
    padding: 8px 10px;
  }
}